* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Tahoma, Geneva, sans-serif;
  color: #333333;
}

input {
  margin: 8px 3px;
  border: 1px solid #cacaca;
  border-radius: 4px;
  padding: 6px 12px;
  width: 115px;
}

button {
  background: #126d69;
  color: #fff;
  border: 0;
  border-radius: 4px;
  padding: 5px 9px;
  margin: 0 2px;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
}

.slider-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  top: 50px;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 200px) {
  input {
    width: 45px;
  }
  .content {
    width: 200px;
  }
}
@media screen and (min-width: 200px) and (max-width: 480px) {
  input {
    width: 75px;
  }
}

.slider {
  width: 100%;
}

.timeline {
  width: 100%;
  height: 10px;
  background-color: #cacaca;
  position: relative;
}

.step {
  position: absolute;
  height: 10px;
  width: 3px;
  background-color: #464242;
}

.step:last-child{
  display: none;
}

.values {
  position: relative;
}

.value {
  position: absolute;
  height: 17px;
  width: 5px;
  background-color: black;
  border-radius: 4px;
}

.value.home {
  background-color: #3aa29e;
  top: -28px;
}

.value.away {
  background-color: #c7463f;
  top: 1px;
}

.value.with-collisions {
  width: 15px;
  background-color: #F00;
  color: #fff;
  font-size: 13px;
  text-align: center;
}

.invisible {
  visibility: hidden;
}

.controll-wrapper {
  text-align: center;
}

.controll {
  width: 300px;
  margin: 0 auto;
}
